@model Assignment.Notification

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Notification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProposalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProposalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmmendID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmmendID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
